In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('data/frames_data.csv')
df

,frame_file,timestamp,in_race,position,lap,speed,gear
0,data/frames/frame_00_10440.jpg,348.35,0.0,5.0,NaN,NaN,NaN
1,data/frames/frame_00_10680.jpg,356.36,0.0,5.0,NaN,NaN,NaN
2,data/frames/frame_00_10920.jpg,364.36,0.0,5.0,NaN,NaN,NaN
3,data/frames/frame_00_11160.jpg,372.37,0.0,5.0,NaN,NaN,NaN
4,data/frames/frame_00_11400.jpg,380.38,0.0,5.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1534,data/frames/frame_00_378600.jpg,"12,632.63",NaN,NaN,NaN,NaN,NaN
1535,data/frames/frame_00_378840.jpg,"12,640.64",NaN,NaN,NaN,NaN,NaN
1536,data/frames/frame_00_379080.jpg,"12,648.65",NaN,NaN,NaN,NaN,NaN
1537,data/frames/frame_00_379320.jpg,"12,656.66",NaN,NaN,NaN,NaN,NaN
1538,data/frames/frame_00_379560.jpg,"12,664.66",NaN,NaN,NaN,NaN,NaN

In [13]:
clean_df = df[df["in_race"].notna()]
clean_df

,frame_file,timestamp,in_race,position,lap,speed,gear
0,data/frames/frame_00_10440.jpg,348.35,0.0,5.0,NaN,NaN,NaN
1,data/frames/frame_00_10680.jpg,356.36,0.0,5.0,NaN,NaN,NaN
2,data/frames/frame_00_10920.jpg,364.36,0.0,5.0,NaN,NaN,NaN
3,data/frames/frame_00_11160.jpg,372.37,0.0,5.0,NaN,NaN,NaN
4,data/frames/frame_00_11400.jpg,380.38,0.0,5.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
95,data/frames/frame_00_33240.jpg,"1,109.11",1.0,6.0,8.0,143.0,5.0
96,data/frames/frame_00_33480.jpg,"1,117.12",1.0,6.0,8.0,81.0,2.0
97,data/frames/frame_00_33720.jpg,"1,125.13",1.0,6.0,8.0,88.0,3.0
98,data/frames/frame_00_33960.jpg,"1,133.13",1.0,6.0,8.0,87.0,3.0
99,data/frames/frame_00_34200.jpg,"1,141.14",1.0,6.0,8.0,133.0,5.0

In [14]:
clean_df.to_csv("data/dataset.csv")