In [44]:
import pandas as pd

In [47]:
df = pd.read_excel('data/data.xlsx')
df

,frame_file,timestamp,in_race,position,lap,speed,gear,acceleration,acceleration.1,jerk
0,data/frames/frame_00_10440.jpg,348,0.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
1,data/frames/frame_00_10680.jpg,356,0.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
2,data/frames/frame_00_10920.jpg,364,0.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
3,data/frames/frame_00_11160.jpg,372,0.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
4,data/frames/frame_00_11400.jpg,380,0.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4064,data/frames/frame_09_24595.jpg,418.753844,NaN,NaN,NaN,NaN,5,0.0,0.0,0.0
4065,data/frames/frame_09_24605.jpg,418.920467,NaN,NaN,NaN,NaN,5,0.0,0.0,0.0
4066,data/frames/frame_09_24609.jpg,418.987111,NaN,NaN,NaN,NaN,5,0.0,0.0,0.0
4067,data/frames/frame_09_24631.jpg,419.353667,NaN,NaN,NaN,NaN,5,0.0,0.0,0.0
4068,data/frames/frame_09_24647.jpg,419.620244,NaN,NaN,NaN,NaN,5,0.0,0.0,0.0

In [52]:
clean_df = df[df["speed"].notna()]
clean_df["frame_file"] = clean_df["frame_file"].apply(lambda x: x.split('/')[-1])
clean_df = clean_df.drop(columns=["acceleration", "acceleration.1", "jerk"])
clean_df["video"] = clean_df["frame_file"].apply(lambda x: x[6:8])
clean_df

C:\Users\furka\AppData\Local\Temp\ipykernel_17400\3020603812.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df["frame_file"] = clean_df["frame_file"].apply(lambda x: x.split('/')[-1])

,frame_file,timestamp,in_race,position,lap,speed,gear,video
6,frame_00_11880.jpg,396,0.0,5.0,1.0,37.0,1,00
7,frame_00_12120.jpg,404,0.0,5.0,1.0,34.0,1,00
8,frame_00_12360.jpg,412,0.0,5.0,1.0,36.0,1,00
9,frame_00_12600.jpg,420,0.0,5.0,1.0,37.0,1,00
10,frame_00_12840.jpg,428,0.0,5.0,1.0,116.0,4,00
...,...,...,...,...,...,...,...,...
3547,frame_09_08215.jpg,140.159122,NaN,NaN,NaN,119.0,5,09
3548,frame_09_08234.jpg,140.483289,NaN,NaN,NaN,120.0,5,09
3549,frame_09_08246.jpg,140.688033,NaN,NaN,NaN,121.0,5,09
3550,frame_09_08254.jpg,140.824522,NaN,NaN,NaN,121.0,5,09
3551,frame_09_08285.jpg,141.353422,NaN,NaN,NaN,122.0,5,09

In [54]:
videos = pd.DataFrame(clean_df["video"].unique(), columns=['video']).sample(frac=1)
valid_size = max(2, len(videos) // 5)
test_size = max(2, len(videos) // 5)
print('Splits:', len(videos) - valid_size - test_size, valid_size, test_size)
videos['split'] = 'train'
videos['split'][:valid_size] = 'valid'
videos['split'][valid_size:valid_size + test_size] = 'test'
videos

Splits: 5 2 2

  video  split
4    04  valid
0    00  valid
6    05   test
3    03   test
1    01  train
5    08  train
8    09  train
7    07  train
2    02  train

In [55]:
final_df = pd.merge(clean_df, videos, on="video", how="left")
final_df

,frame_file,timestamp,in_race,position,lap,speed,gear,video,split
0,frame_00_11880.jpg,396,0.0,5.0,1.0,37.0,1,00,valid
1,frame_00_12120.jpg,404,0.0,5.0,1.0,34.0,1,00,valid
2,frame_00_12360.jpg,412,0.0,5.0,1.0,36.0,1,00,valid
3,frame_00_12600.jpg,420,0.0,5.0,1.0,37.0,1,00,valid
4,frame_00_12840.jpg,428,0.0,5.0,1.0,116.0,4,00,valid
...,...,...,...,...,...,...,...,...,...
1940,frame_09_08215.jpg,140.159122,NaN,NaN,NaN,119.0,5,09,train
1941,frame_09_08234.jpg,140.483289,NaN,NaN,NaN,120.0,5,09,train
1942,frame_09_08246.jpg,140.688033,NaN,NaN,NaN,121.0,5,09,train
1943,frame_09_08254.jpg,140.824522,NaN,NaN,NaN,121.0,5,09,train
1944,frame_09_08285.jpg,141.353422,NaN,NaN,NaN,122.0,5,09,train

In [56]:
final_df.to_csv("data/dataset_v2.csv")

In [43]:
final_df.value_counts('split')

split
train    700
valid    598
test     363
Name: count, dtype: int64